.root {
    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: #E0E0E0;
    -fx-background-color: #1E1E2E; /* Ljus bakgrund */
}
.scroll-pane {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-hbar-policy: never;
}
.hbox {
    -fx-spacing: 10;
    -fx-padding: 10;
}
.vbox {
    -fx-spacing: 10;
    -fx-padding: 10;
}
.bigbutton {
    -fx-background-color: #D97706 ;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10;
    -fx-min-height: 36;
    -fx-min-width: 111;
    -fx-text-fill: #E0E0E0;
}
.smallbutton {
    -fx-background-color: #D97706 ;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 2;
    -fx-min-width: 111;
    -fx-min-height: 20;
    -fx-text-fill: #E0E0E0;
}
.button:hover {
    -fx-background-color: #ed8308;
}
.button:pressed {
    -fx-background-color: #b56305;
}
.label {
    -fx-padding: 5;
    -fx-wrap-text: true;
}
.message-label {
    -fx-text-fill: red;
    -fx-font-weight: bold;
}
.smalllabel {
    -fx-padding: 2;
    -fx-wrap-text: false;
    -fx-pref-height: 26;
}