.root {
    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-background-color: #DDEAF6; /* Ljus bakgrund */
}
.check-box {
    -fx-text-fill: black;
}
.scroll-pane {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-hbar-policy: never;
}
.hbox {
    -fx-spacing: 10;
    -fx-padding: 10;
}
.vbox {
    -fx-spacing: 10;
    -fx-padding: 10;
}
.bigbutton {
    -fx-background-color: #2a98ca;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10;
    -fx-min-height: 36;
    -fx-min-width: 111;
}
.smallbutton {
    -fx-background-color: #2a98ca;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 2;
    -fx-min-width: 111;
    -fx-min-height: 20;
}
.button:hover {
    -fx-background-color: #31ade6;
}
.button:pressed {
    -fx-background-color: #2379a1;
}
.label {
    -fx-padding: 5;
    -fx-wrap-text: true;
}
.message-label {
    -fx-text-fill: red;
    -fx-font-weight: bold;
}
.smalllabel {
    -fx-padding: 2;
    -fx-wrap-text: false;
    -fx-pref-height: 26;
}
.table-view {
    -fx-background-color: white;
    -fx-border-color: #ddd;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}
.table-view.column-header {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.table-row-cell:odd {
    -fx-background-color: #f9f9f9;
}
.table-row-cell:selected {
    -fx-background-color: #2980b9;
    -fx-text-fill: white;
}
